/* button {
    display: flex;
    gap: 5px;
    width: 50px;
    height: 50px;
    margin: 4px;
    boder: 2px solid green;
    cursor: pointer;
} */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none;
}
body {
  font-family: sans-serif;
}

#drum-machine {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 60px;
  background-color: #666666;
  margin-left: 2px;
  margin-right: 2px;

  margin: 32vh auto;
  paddin: 10px;

  max-width: 100%;
  width: 500px;
  border: 3px solid #cc9900;
  border-radius: 5px;
 
}

#drumpad_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margn-top: 20px;
  border: ;
  gap: 10px;
  background-color: ;
}

.drum-pad {
  width: 50px;
  height: 50px;
  border: ;
  background-color: #cc9900;
  color: #ffffff;
  box-shadow: 2px 2px 5px #ffeb99;
  font-size: 12px;
  font-weight:bolder ;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#display {
  height: 50px;
  width: 140px;
  background-color: white;
  margin-top: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:    #4d4d4d
  ;
  border-radius: 3px;

  
  font-weight: bold;
}
.switch {
  width: 36px;
  height: 24px;
  border-radius: 20px;
  margin-top: 20px;
  bordr: 1px solid #d9d9d9;
  padding: 4px;
  background-color: #cc9900;
  cursor: pointer;
  transition: .4s;
  -webkit-transition: .4s;
}
.switchButton {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  borer: 2px solid black;

  background-color: white;
  float: right;
  transition: .4s;
  -webkit-transition: .4s;
}

#rangeVolume {
appearance: none;
width: 140px;
height: 7px;
border-radius: 50px;

transition: .2s;
  
  background-color: #cc9900;
  
}

#rangeVolume::-webkit-slider-thumb {
appearance: none;
width:16px ;
height: 16px;
background-color: white;
border-radius: 50%;
}

#rangeVolume::-moz-slider-thumb {
  apparance: none;
  width:20px ;
  height: 20px;
  background-color: white;
  }
  
  @media only screen and (max-width: 540px) {
    #drum-machine {
      flex-direction: column;

    }}

    
  
